<div class="container-fluid header">
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      <h2 class="display-4 font-weight-bold">Bienvenido al test</h2>
      <p class="lead">Esta es una pequeña aplicaci&oacute;n con la que mostramos como es que se hace uso de la librer&iacute;a 
        <small class="text-warning display-4 font-weight-bold">Crypto-JS</small>
         y el muy famoso framework de desarrollo de aplicaciones web (SPA) <small class="display-4 font-weight-bold text-success"> Angular 11.</small>
        
        </p>
    </div>
  </div>
</div>
<button type="button" class="btn btn-outline-info btn-block btn-md-info" data-toggle="modal" data-target="#modal" data-whatever="@mdo">Tomar Dictado</button>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="modal-title text-white font-weight-bold" id="modalLabel">Nuevo mensaje encriptado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white font-weight-bold" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-md-12">
              <audio class="align-items-center" controls type="audio/mp3" src="../../assets/resources/dictado.mp3"></audio>
            </div>
          </div>
        </div>
        <form [formGroup]="encryptForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="message-text" class="col-form-label">Escribe el texto del dictado:</label>
            <textarea formControlName="message" class="form-control" id="message-text" required></textarea>
            <small id="message-textHelp" class="form-text text-muted">Este ser&aacute; el cuerpo del dictado que se encriptar&aacute; con SHA256</small>
            <small class="fotm-text text-success" *ngIf="itsGood">Correcto !!</small>
            <small class="fotm-text text-warning" *ngIf="itsWrong">Vuelve a interntarlo !</small>
            <small class="fotm-text text-danger" *ngIf="itsEnough">Demasiados intentos D=</small>
          </div>
          <div *ngIf="rigthMessage">
            <p class="text-muted text-sm">
              El mensaje correcto era:<small class="text-success"> hello world this is a sha-256 encrypted message</small>
            </p>
          </div>
          <button type="submit" [disabled]="!encryptForm.valid" class="btn btn-outline-success btn-block mt-3 mb-3">Encriptar mensaje</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-block" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>