
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarComponent" aria-controls="navbarComponent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="**">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarComponent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/first-view" routerLinkActive="active">Crear un HASH <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/second-view" routerLinkActive="active">Tomar dictado</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>